@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family: "Mulish",  sans-serif;
  
}
/* <----------------------   Navbar CSS    -------------------------> */
.nav_bg{
  background-color: #35B276 !important;
}

.navbar-brand{
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #fff !important;
}

.brand_icon{
  margin-bottom: 5px;
  font-size: 2rem !important;
}

.nav-link{
  color: #fff !important;
  font-size: 1rem !important;
  padding-right: 60px !important;
  cursor: pointer;
}

.nav-link:hover{
  text-decoration: underline;
}

.nav-btn{

  color: #ffffff !important;
  font-size: 18px !important;
  letter-spacing: 1px;
  padding: 3px 20px !important;
  text-decoration: none;
  border: 2px solid #fff !important;
  border-radius: 50px !important;
}

.nav-btn:hover{
  background: #fff !important;
  color: #0e683d !important;
}


/* <----------------------   Home CSS    -------------------------> */

.section_home{
  background-color: #ecf8e5;
}

.home{
  color: #347571;
  padding: 50px 0 50px 40px !important;
}

.home_txt{
  padding: 50px 0 20px 0;
  font-size: 4.5rem !important;
  line-height: 1.3;
}


.home_btns{
  padding: 50px 0 !important;
}

.home_btn1{
  color: #ffffff !important;
  font-size: 25px !important;
  letter-spacing: 1px;
  padding: 3px 20px !important;
  text-decoration: none;
  border: 2px solid #fff !important;
  border-radius: 50px !important;
  background: #5ec57e !important;
  margin-right: 40px;
}

.home_btn1:hover{
  color: #fff !important;
  background: #347571 !important;
}

.home_btn2{
  color: #ffffff !important;
  font-size: 25px !important;
  letter-spacing: 1px;
  padding: 3px 20px !important;
  text-decoration: none;
  border: 2px solid #fff !important;
  border-radius: 50px !important;
  background: #008037 !important;
}

.home_btn2:hover{
  color: #fff !important;
  background: #347571 !important;
}

.btn_icon{
  padding-bottom: 6px;
  font-size: 2rem !important;
}

.home_img{
  width: 480px;
  height: 480px;
  margin: 50px 0 50px 150px;
}

/* <----------------------   Features heading CSS    -------------------------> */

.features_heading{
  color: #5EC57E;
  font-weight: bold;
  padding: 100px 0 50px 0;
  text-align: center;
}

.feature_icons{
  font-size: 6rem !important;
  margin-left: 160px;
  margin-bottom: 40px;
  /* color: #008037; */

}

.features_h2{
  color: #5EC57E;
  text-align: center;
  margin-bottom: 20px;
}

.features_p{
  text-align: justify;
  padding: 0 50px 100px;
  /* width: 30ch; */
}



/* <----------------------   Features_2 heading CSS    -------------------------> */

.features_2{
  background-color: #ECF8E5;
  padding-bottom: 100px;
}

.features_2_icons{
  font-size: 10rem !important;
  color: #35B276;
  margin-left: 200px;
  margin-top: 100px;
  
  
}

.features_2_heading{
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 230px;
 
}

.features_2_heading_2{
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 150px;
}

.features_2_icons_1{
  font-size: 10rem !important;
  color: #35B276;
  margin-left: 300px;
  margin-top: 100px;
}

.features_2_heading_3{
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 190px;
}


/* <----------------------   Deal CSS    -------------------------> */

.deal{
  padding: 100px 0;
}

.deal_h1{
  font-weight: bold;
  font-size: 4rem !important;
  color: #5EC57E;
}

.deal_list{
  color: #008037;
  padding-bottom: 30px;
 
}

.deal_h2{
  color: #008037;
  font-size: 1.5rem;
  padding-bottom: 50px;
  font-weight: bold;
}


.deal_btn{
  color: #ffffff !important;
  font-size: 20px !important;
  padding: 3px 20px !important;
  text-decoration: none;
  border: 2px solid #fff !important;
  border-radius: 50px !important;
  background: #008037 !important;
}

.deal_btn_timer{
  color: #ffffff !important;
  font-size: 20px !important;
  padding: 3px 20px !important;
  margin-left: 50px;
  text-decoration: none;
  border: 2px solid #fff !important;
  border-radius: 10px !important;
  background: #5EC57E !important;
}

.deal_btn:hover{
  color: #fff !important;
  background: #347571 !important;
}


.deal_animation{
  font-size: 12rem;
  font-weight: bold;
}

.deal_animation ul{
  display: flex;
  letter-spacing: 0.5rem;
  height: 200px;

}

.deal_animation ul li{
  list-style: none;
  color: #5EC57E;
  animation: light 1.3s linear infinite;
}

@keyframes light{
  0%{
    color: #5EC57E;
    text-shadow: none;
  }
  90%{
    color: #5EC57E;
    text-shadow: none;
  }
  100%{
    color: #008037;
    text-shadow: 0 0 1rem #008037, 0 0 7rem #5EC57E;
  }
}

.deal_animation ul li:nth-child(1){
  animation-delay: 0s;
}
.deal_animation ul li:nth-child(2){
  animation-delay: 0.1s;
}
.deal_animation ul li:nth-child(3){
  animation-delay: 0.2s;
}

.off{
  padding-left: 350px;
  margin-top: 0px;
  font-size: 6rem;
}

/* <----------------------   Testimonials CSS    -------------------------> */

.Testimonials{
  background-color: #DCF4CE;
}

.Testimonials h1{
  color: #008037;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}

.Testimonials p{
  color: #008037;
  text-align: center;
  padding-bottom: 60px;
}

.tweets{
  padding-bottom: 100px !important;
}

/* <----------------------   FAQ CSS    -------------------------> */

.faq_title{
  color: #008037;
  font-weight: bolder !important;
  font-size: 3.5rem;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
}

.accordion-button{
  background-color: #B8E28A !important;
  color: #008037 !important;
  font-size: 1.5rem !important;
  font-weight: bold;
}

.faq_accordion{
  padding-bottom: 100px;
  padding-left: 200px !important;
  padding-right: 200px !important;
}

.accordion-item{
  margin-bottom: 30px;
  border: none !important;
}

.accordion-body{
  background-color: #DCF4CE;
  font-size: 1rem !important;
}

/* <----------------------   FooterCSS    -------------------------> */

footer{
  background-color: #B8E28A;
  color: #008037;
}

footer h2{
  font-weight: bold;
  text-align: center;
  margin: 100px auto 30px !important;
}

.footer_btn{
  margin: 0 auto 80px !important;
  padding: 0 !important;
  text-align: center;
}

.footer_links{
  list-style-type: none !important;
  margin-bottom: 50px;

}

.footer_link_heading{
  color: #000 !important;
  font-weight: bold;
  margin-bottom: 30px;

}


footer a{
  text-decoration: none;
  color: #008037;
}

.footer_li{
  margin-bottom: 10px;
}

.footer_social{
  border: solid 1px;
  border-radius: 100px;
  color: #008037;
  padding: 10px;
  margin-bottom: 10px;
}

.footer_social:hover{
  color: #fff;
  background-color: #008037;
}




.footer_rights{
  background-color: #35B276;
  color: #ffff;
  text-align: center;
  position: absolute;
  left: 12px;
  width: 100%;
}

.footer_rights_p{
  margin: 20px auto 20px !important;
}


/* <----------------------   Support CSS    -------------------------> */

.support_row{
  background-color: #B8E28A;
  height: 600px;
  width: 1100px;
  border-radius: 15px;
  margin: 100px auto 30px !important;
}

.SupportAgentIcon{
  font-size: 15rem !important;
  margin: 150px !important;
  color: #008037;
}

.support_input{
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
}


::placeholder{
  font-weight: bold;
  padding-left: 30px !important;
}

.support_h1{
  font-weight: bold;
  margin: 50px 70px 30px 90px;
  color: #008037;
 
}

.support_message{
  height: 150px;
  border-radius: 20px;
}
.support_message::placeholder{
  padding-top: 12px !important;
}

.support_btn{
  background-color: #008037;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  margin-left: 130px;
}

.support_btn:hover{
  color: #fff;
  background-color: #000;
}